AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me
AWS_SESSION_TOKEN=
SCRIPTS_BUCKET=replace-with-scripts-bucket

DATA_LAKE_BUCKET=replace-with-data-lake-bucket
AUDIT_TABLE=medallion-lakehouse-pipeline-audit
CURATED_DATABASE=curated_zone
PRESENTATION_DATABASE=presentation_zone
ATHENA_WORKGROUP=medallion-lakehouse-workgroup
ENABLE_REDSHIFT=false

# REDSHIFT_HOST=replace-with-redshift-serverless-endpoint
# REDSHIFT_PORT=5439
# REDSHIFT_DBNAME=lakehouse
# REDSHIFT_USER=admin
# REDSHIFT_PASSWORD=replace_me
